.dashbord__container{
    height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-width: 283px;
    /* margin-bottom:10.5rem; */
    box-shadow: 1px 0 0px rgba(0,0,0,0.1);
    padding-block: 1rem;
    z-index: 1;
}
.dashbord__container::-webkit-scrollbar{
    display: none;
}
.dash__container--listA{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.dashboard__list--icon{
margin-right: 10px;
}
a{
    color: inherit;
    padding: .8rem 2rem;
    opacity: .6;
    position: relative;
    transition: .35s ease;
}
.dash__container--listA a li,
.dash__container--listB a,
.dash__container--listC a,
.dash__container--listD a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height */


    color: var(--primary-color);
}

.active{
    opacity: 100%;
}

.dash__container--listB,
.dash__container--listC,
.dash__container--listD{
    margin-top: 1.5rem;
    color: var(--secondary-color);
}

.dash__container--listB p, 
.dash__container--listC p,
.dash__container--listD p{
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: .4rem;
   
}
.dash__container--listB .active{
    background: rgb(57, 205, 204, 0.1);
}
.dash__container--listB .active::before{
    content: "";
    position: absolute;
    width: 4px;
    height: auto;
    background:#39CDCC;
    inset: 0;
}
.customer__list:not(.active):hover{
    background: rgb(57, 205, 204, .2);
    opacity: 1;
    font-size: 16px;
}
.dash__container--listD{
    padding-bottom: 1rem;
    border-bottom: .5px solid rgba(0,0,0,0.1);
    margin-bottom: 1.4rem;
}
.dash__container--list-version{
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin: 2rem 0;
    padding-inline:2rem;
    padding-bottom: 3rem;
    }

    @media screen and (max-width:1200px) {
        .dashbord__container{
            display: none;
        }
        .dashbord__container.open{
            margin-top:0;
            height: 100vh;
            margin-top: 4rem;
            position: absolute;
            top:0;
            left:-50%;
            display:block;
            z-index: 7;
            background: var(--neutral-white);
            animation: dash .35s linear forwards;
        }

        @keyframes dash {
            100%{
                left: 0%;
            }
        }
    }
    @media screen and (min-width:1440px) {
        .dashbord__container{
            margin-top:32px; 
            padding-block: 0;
        }
    }